
<p>Click the button to trigger a function that will output "Hello World" in a p element with id="demo".</p>

<button onclick="myFunction()">Click me</button>

<p id="demo"></p>

<script>
    function myFunction() {
        var url = "http://localhost:1473/BannerHtml?id=e2377608-4328-4747-bf19-d94ca74a48a0";
        $.ajax({
            url: url,
            type: 'GET',
            success: function (result) {
                console.log(result)
                document.getElementById("demo").innerHTML = result;
            },
            error: function () {
                alert("error");
            }
        });

    }
</script>
